<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/resources/style.css}" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <a href="/">Главная</a>
        <span th:text="${username}"></span>
        <form id="logout-form" action="#" th:action="@{/logout}" method="post" style="display: inline;">
            <button type="submit">Logout</button>
        </form>
    </div>

    <div>

        <h1>Avg health = <span th:text="${avg}"></span></h1>
    </div>
</body>

</html>